PORT=5002

DB='mysql'
DB_PORT=3306
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=vimas

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=30d
EMAIL_SECRET=your_jwt_secret
ADMIN_JWT_SECRET=your_jwt_secret
EMAIL_USERNAME=info@myarcfunding.com
EMAIL_PASSWORD=Arcp@ssw0rd202$5!
REDIRECT='https://vimasgv/'
APP_URL='https://vimasgv/'

HOSTINGER_HOST=smtp.gmail.com
HOSTINGER_PORT=465
HOSTINGER_EMAIL=noreply@tradelive24.com
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

HOSTINGER_PASSWORD=your_email_password
STRIPE_CURRENCY=myr

COINPAYMENTS_PUBLIC_KEY=your_coinpayments_public_key
COINPAYMENTS_PRIVATE_KEY=your_coinpayments_private_key
COINPAYMENTS_API_URL=https://a-api.coinpayments.net/api/
COINPAYMENTS_BASE_CURRENCY=myr
COINPAYMENTS_USDT_CURRENCY=USDT
COINPAYMENTS_WEBHOOK_URL=https://your-domain.com/api/vimas/orders/webhook/coinpayments
